<nav>
    <ul>
        <li><a href="{{ path('main_home') }}">home</a></li>
        <li><a href="{{ path('main_test') }}">test</a></li>
        <li><a href="{{ path('serie_list') }}">List of series</a></li>
        <li><a href="{{ path('serie_add') }}">New show</a></li>



        <li><a href=""></a></li>
    </ul>
</nav>